.bibsonomy .icon {
	height: 20px;
	vertical-align: middle;
}

.bibsonomy .action:HOVER {
	cursor: pointer;
}

.bibsonomy .control {
	margin-left: 8px;
}


.bibsonomy .tags {
	margin-left: 8px;
}

.bibsonomy input {
	height: 14px;
}

.bibsonomy button {
	margin-left: 8px;
	height: 22px;
	padding-left: 4px;
	padding-right: 4px;
}

.bibsonomy .loading {
	height: 20px;
	vertical-align: middle;
	margin-left: 8px;
}

.bibsonomy .delete {
	margin-left: 8px;
	color: red;
}

.bibsonomy .delete:HOVER {
	cursor: pointer;
}

.bibsonomy .add-file:HOVER {
	cursor: pointer;
}

.bibsonomy .file {
	margin-left: 8px;
}

.bibsonomy .hidden {
	display: none;
}

.bibsonomy div.bibtexKey {
	margin-left:5px;
	font-weight: bold;
	display: inline-block
}

.bibsonomy div.tags {
	display: inline-block
}

.bibsonomy .tags span {
	margin-right: 4px;
}


.bibsonomy .response {
	display: none;
	margin-left: 8px;
}

.bibsonomy form.post {
	display: inline-block;
}


.bibsonomy.header {
	height: 41px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	white-space: nowrap;
	background-color: #fff;
	padding-left: 20px;
	line-height: 41px;
	background-color: rgba(0,102,153,0.1);
}

.bibsonomy.message .text {
	margin-left: 8px;
}

.bibsonomy.message .text img {
	vertical-align: middle;
	display: inline;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.bibsonomy .bibtex.button {
	margin-left: 5px;
	color: grey;
}

.bibsonomy .bibtex.button:HOVER {
	cursor: pointer;
}

.bibsonomy .bibtex.container {
	display: none;
	
	margin-top: 0.5em;
	
	width:60em;
	height:12em;
	
	font-size: 0.9em;
}

.bibsonomy .bibtex.warning .icon {
	color: orange;
	vertical-align: middle;
}
